.toprow {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gray-bottom-divider {
    border: 0;
    border-bottom:0.1em solid #c9c9c9;
}

.left-button {
    margin: 0 0 0 0.5em;
    vertical-align: middle;
}

.right-button {
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.centered-title {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 140%;
    font-weight: 600;
    padding: 0.2em 0 0.3em 0;
    margin: 0;
}

.flex-fill {
    -webkit-flex: 1;
    flex: 1;
}

#board {
    width: 100%;
}
#board-notes {
}

.my-notes {
    display: flex;
    flex-direction: row;
}
.notes-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    padding: 0.2em 0.2em 0.15em 0.2em;
    background-color: #f8f8ff;
}

.note, .new-note {
    width: 2em;
    height: 3em;
    padding: 0.1em 0.4em;
    border: 1px solid #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.note {
    margin-right: 0.2em;
    background-color: #ffffa0;
}

.new-note {
    margin-left: 0.2em;
    background-color: #c0ffc0;
}

.fill-form-with-footer {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1;
}

/* Space out content a bit */
body {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

