/* note editor */

.note-editor {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
}

.note-editor .border-below {
    border-bottom: solid 1px;
}

.note-editor .left {
    padding-left: .5em;
}

.note-editor .center {
    text-align: center;
    width: 100%;
}

.note-editor .right {
    text-align: right;
    padding-right: .5em;
}

.note-editor textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
    border: solid 1px;
}


/* board */

#toprow {
    margin: 0;
    padding: 0;
    background-color: #f8f8ff;
    border-bottom: 1px solid #e0e0e0;
}
.notes-row {
    padding: 0;
}
.my-notes {
    width: 100%;
}
.my-note, .new-note, .board-note {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    display: table-cell;
    width: 4em;
    min-width: 4em;
    height: 5em;
    max-height: 5em;
    overflow: hidden;

    padding: 0.1em 0.1em 0.1em 0.3em;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #c3c3c3;

    margin-right: 0.2em;
    background-color: #ffffa0;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.my-note *, .board-note * {
    pointer-events: none;
}
.new-note {
    padding: .3em;
    text-align:center;
    vertical-align: middle;
}
.board-note {
}
.scroll-pane {
    overflow:scroll;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

