<div id="board">
    <div class="notes-row">
        <div class="my-notes">
            <div class="note" draggable-from="{{note.id}}" ng-repeat="note in getNotes()">{{note.text}}</div>
        </div>
        <div class="flex-fill"></div>
        <div class="new-note" ng-click="createNote()"><img src="images/plus.png"> </div>
    </div>
    <div id="board-notes">
        <div class="note" draggable-on-board="{{note.note.id}}"
             style="position: absolute; left: {{base.x + note.x}}px; top: {{base.y + note.y}}px;"
             ng-repeat="note in getBoardNotes()">{{note.note.text}}</div>
    </div>
</div>
