<table id="toprow">
    <tr class="notes-row">
        <td class="my-notes">
            <div class="scroll-pane">
                <div class="note my-note" draggable-from="{{note.id}}" ng-repeat="note in getNotes()">{{note.text}}</div>
            </div>
        </td>
        <td>
            <div class="note new-note" ng-click="createNote()"><img src="images/plus.png"> </div>
        </td>
    </tr>
</table>
<div id="board-notes">
    <div class="note board-note" draggable-on-board="{{note.note.id}}"
         style="position: absolute; left: {{base.x + note.x}}px; top: {{base.y + note.y}}px;"
         ng-repeat="note in getBoardNotes()">{{note.note.text}}</div>
</div>
